apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonLabels:
  backstage.io/kubernetes-id: starter
  
resources:
- api-start-deployment.yaml
- api-start-svc.yaml
- api-start-ingress.yaml

images:
- name: oscka/api-start
  newTag: 0.0.9
