apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- web-oss-portal-deployment.yaml
- web-oss-portal-svc.yaml
- web-oss-portal-ingress.yaml

images:
- name: oscka/web-oss-portal
  newTag: 0.0.6
